<h2>Create Budget</h2>
<mat-form-field appearance="fill">
    <mat-label>Budget Name</mat-label>
    <input matInput [(ngModel)]="budgetName" />
</mat-form-field>

<h3>Select Categories</h3>
<div *ngFor="let category of availableCategories">
    <mat-checkbox [checked]="category.selected" (change)="toggleCategorySelection(category, $event)">
        {{ category.name }}
    </mat-checkbox>
    <input matInput *ngIf="category.selected" [(ngModel)]="category.amount" type="number" placeholder="Set Budget" />
</div>

<div class="dialog-actions">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button color="primary" (click)="saveBudget()">Save</button>
</div>